<!-- start custom head snippets -->

<style>
.masthead__inner-wrap {
  padding-top: 0.1em !important;
  padding-bottom: 0.1em !important;
}
.page__hero--overlay {
  margin-bottom: 0.75em !important;
}
html {
  font-size: 16px;
}
body {
  line-height: 1.2 !important;
}
p {
  margin-bottom: 1em !important;
}
h2,h3,h4,h5,h6 {
  margin-top: 1em;
}
@media (min-width: 800px) {
  .page__hero--overlay {
    padding-top: 6em;
  }
}
@media (min-width: 1000px) {
  .page__hero--overlay {
    padding-top: 9em;
  }
}
@media (min-width: 1200px) {
  .page__hero--overlay {
    padding-top: 11em;
  }
}
</style>

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/fav/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/fav//favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/fav//favicon-16x16.png">
<link rel="manifest" href="/assets/fav/site.webmanifest">
<link rel="mask-icon" href="/assets/fav//safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-162027928-1"></script>
<script>
if (window.location.href.startsWith('https://www.')) {
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-162027928-1');
}
</script>

<!-- end custom head snippets -->
