<div class="page__footer-follow">
  <ul class="social-icons" style="display: inline;">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
  <img src="/assets/logo.png" alt="De mondmaskerfabriek.nl" height="35" width="35" align="right">
</div>
<div class="page__footer-copyright">&copy; RefugeeCompany</div>
